@charset "utf-8";
/* CSS Document */


body {
	font-family: "Arsenal Regular",sans-serif;
	font-size: 20px;
	padding: 0px;
	line-height: 2;
}
#section-a{
	padding:20px;
	background:white;
	color:black;
	text-align:center;
}

/*------Bios------*/


#section-l {
	display: flex;
	text-align: center;
	overflow: hidden;
	list-style: none;
	font-size: 20px;
	color: black;
	text-decoration: none;
	background: white;
}

#section-l div{
	padding:50px;
	padding-bottom:400px;

}


#section-l .box-7, #section-d .box-8, #section-d .box-9{
	background: white;
	color: #295D9B;
	text-align:center;
	
}

#section-l .box-7{
	height: 50px;
	width: 25%;
	text-align:center;
}

#section-l .box-8{
	height:50px;
	width: 25%;
	background-size:cover;
	text-align:left;
}

#section-l .box-9{
	background-size:cover;
	height:50px;
	width: 25%;
	text-align:center;
}


