
@charset "utf-8";
/* CSS Document */


body {
	font-family: "Arsenal Regular",sans-serif;
	font-size: 20px;
	padding: 0px;
	line-height: 2;
}

/*------Meet the Team------*/

#section-b{
	padding: 20px;
	background:white;
	color: black;
	text-align: center;
}

/*------Bios------*/


#section-d {
	display: flex;
	text-align: center;
	overflow: hidden;
	list-style: none;
	font-size: 20px;
	color: black;
	text-decoration: none;
	background: white;
}

#section-d div{
	padding:20px;
	padding-bottom:400px;

}


 #section-d .box-5,  #section-d .box-7{
	background: white;
	color: #295D9B;
	text-align:center;
	
}

#section-d .box-4{
	height: 50px;
	width: 10%;
	align: 
	text-align:center;
	background-color:#668cff;
}

#section-d .box-8{
	height: 50px;
	width: 10%;
	padding-left:10px;
	padding-right:0px;
	text-align:center;
	background-color:#668cff;
}

#section-d .box-5{
	height:50px;
	width: 37.5%;
	padding:0px;
	background-size:cover;
	text-align:left;
}

#section-d .box-6{
	background-size:cover;
	height:50px;
	width: 10%;
	text-align:center;
	background-color:#668cff;
}

#section-d .box-7{
	background-size:cover;
	height:50px;
	width: 37.5%;
	padding:0px;
	text-align:right;
}



a{
	
	text-decoration: none;
	color: black;
}
