


body {
	font-family: "Arsenal Regular",sans-serif;
	font-size: 40px;
	padding: 0px;
	line-height: 2;
    color:#1d1145;
}

/*for the first left box*/
.sidebox{
    content-align: center;
    width:25%;
    height:90px;
    box-sizing: border-box;
    background-color:#f2a1a1;
    color:white;
}

.sidebox{
    content-align: center;
    width:25%;
    height:90px;
    background-color:#f2a1a1;
    color:white;
    
}

.sidebox2{
    content-align: center;
    width:25%;
    height:90px;
    background-color:#f2a1a1;
    color:white;
}

.sidebox3{
    content-align: center;
    width:25%;
    height:90px;
    background-color:#f2a1a1;
}

h3 {
    color:white;
}

/*code for the pop up*/
 /* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} 

/*popup code ends*/

.list{
    
    content-align:left;
    text-align:justify;
    width:50%;
    height:auto;
    padding:10px;
    margin:auto;
    background-color:#1d1145;
}


.dates{
    
    content-align:left;
    width:50%;
    height:auto;
    padding:10px;
    margin:auto;
    background-color:#1d1145;
}


p{
 line height:1px; 
 font-size: 20px;
}

