@charset "utf-8";
@media screen and (max-width: 900px) {
      .column {
            width: 100%;
      }
}
/* CSS Document */

body {
      font-family: " "; /*INSERT THE FONT */
      font-size: ; /* INSERT FONT SIZE */
      padding: 0px;
      line-height: ; /* INSERT LINE HEIGHT */
}

#section
