@charset "utf-8";
/* CSS Document */


lyrics1 {
  height: 50px;
	width: 60%;
	text-align:center;
	background-color:#1d1145;
	left:150vw;
}

}


lyrics2 {
  height: 50px;
	width: 60%;
	text-align:center;
	background-color:#1d1145;
	left:150vw;
}




lyrics3 {
  height: 50px;
	width: 60%;
	text-align:center;
	background-color:#1d1145;
	left:150vw;
}
