@charset "utf-8";
/* CSS Document */


lyrics1 {
  height: 50px;
	width: 60%;
	text-align:center;
	background-color:#1d1145;
}

}


lyrics2 {
  height: 50px;
	width: 60%;
	text-align:center;
	background-color:#1d1145;
}



lyrics3 {
  height: 50px;
	width: 60%;
	text-align:center;
	background-color:#1d1145;
}
