
     body {
         background-size:cover;
         font-family:Arial;
     }

     ul {
         margin:20px;
         padding:110px;
         list-style:none;
     }
     ul li {
         float:left;
         width:270px;
         height:40px;
         background-color:black;
         opacity:.8;
         line-height:40px;
         text-align:center;
         font-size:25px;
         margin-right:5px;
         margin-bottom:5px;
     }
     ul li a {
         text-decoration:none;
         color:#005aff;
         display:block;
         font-family:Arial;
     }
     ul li a:hover {
         background-color:#013e03;
