
     body {
         background-size:cover;
         font-family:script;
         .img1 { background-image: url("mickey.gif"); }
         .img2 { background-image: url("minnie.gif"); }
         .img3 { background-image: url("dance.gif"); }
         .img4 { background-image: url("bird.gif"); }
         .img5 { background-image: url("depression.gif"); }
         .img6 { background-image: url("trumpet.gif"); }
     }

  .bg-image {
  //* Full height */
  height: 50%; 

  ////* Center and scale*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 
 
 ////* Position text in the middle */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size: 80px;
  border: 10px solid #f1f1f1;
  position: fixed; ///* Stay fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 300px;
  padding: 20px;
  text-align: center;
}
 
     ul {
         margin:20px;
         padding:110px;
         list-style:none;
     }
     ul li {
         float:left;
         width:240px;
         height:40px;
         background-color:black;
         opacity:.8;
         line-height:40px;
         text-align:center;
         font-size:25px;
         margin-right:5px;
         margin-bottom:5px;
     }
     ul li a {
         text-decoration:none;
         color:#005aff;
         display:block;
         font-family:script;
     }
     ul li a:hover {
         background-color:#013e03;

